<h1><%= @cocktail.name  %></h1>
<br>
<% @cocktail.doses.each do |dose| %>
<%= dose.ingredient.name %>,
<%= dose.description %>
<%= link_to 'Delete', dose_path(dose.id), method: :delete %>
<br>
<% end %>
<br>
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail.id) %> | <%= link_to 'Back', cocktails_path %>
